<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.mjakubowski84.parquet4s" level="DEBUG"/>
    <logger name="org.apache.parquet" level="WARN"/>
    <!-- Configure Hadoop minicluster-related logs -->
    <logger name="org.apache.hadoop.hdfs.MiniDFSCluster" level="INFO"/>
    <logger name="org.apache.hadoop" level="WARN"/>
    <logger name="org.apache.hadoop.hdfs" level="ERROR"/>
    <logger name="org.apache.hadoop.http" level="ERROR"/>
    <logger name="org.apache.hadoop.security" level="ERROR"/>
    <logger name="org.apache.hadoop.metrics2" level="ERROR"/>
    <logger name="BlockStateChange" level="WARN"/>
    <logger name="org.eclipse.jetty" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
